i.icon-instapaper {
    padding-left: 16px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAPhJREFUOE+9k8sKgkAUhge6CC6rdbVU9An0JQrzhqjPKW70Cbyh4iahHuR0RspFTjFgNPAxi/+cf+bA+Qk9giCskC2ye97foDUbZDE2a5p2sW376nke8GBZ1lXX9RP2LokoijvTNG9BEAAvvu+DYRh32ktkWd47jjMpStMUqqoaiKJoouMvQJKkA1FV9eC67qQgDEPoum4weNcoODIoinL8aEApigKyLGNq3AZ5njO1/xiUZTlvhJ8Y0DFYGpdB0zQDLG00+LRIcRxDXdfQti0kSTLRx0WavcoYiDWGycQv9azgsMDXewzTeQjTK5EIjSlvnOmNcSbkAXwqxIBAxVWBAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
}
